html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #090E1D; /* solid color behind */
  background-image: url("../images/luxury.jpeg");
  /* border: 310x; */
  background-repeat: no-repeat;
  background-position: 10vh center;

  /* key trick */
  background-size: auto 85vh; /* scale by height only */
}
