body {
  margin: 0;
  background: #090E1D;
}

.border-container {
  width: 80%;
  height: 80vh;
  border: 3px solid white;
  margin: 0 auto;
  margin-top: 10vh;
  box-sizing: border-box;
  background-color: white;
  /* color: white; */
  padding-bottom: 5px;
}
.image-bg{
  height: 100%;
  border: 3px solid black;
}
.luxe-logo{
  position: absolute;
  object-fit: contain;
  left: 10%;
  height: 25vh;
}

/*I GET THE IDEA BRO DI BODY HTML 2 DIV IM GONNA EAT FIRST BRO*/